@using QA_Application.Models
@model Category
@{
    ViewData["Title"] = "Archive";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Archive a category</h3>

<form asp-action="Archive">
    @Html.DisplayNameFor(c => c.CategoryName): <span class="text-info text-capitalize"><b>@Html.DisplayFor(c => c.CategoryName) </b></span>
    <br>

    Archive this category?
    <br>
    <small>*Select "No" to remove category from archive</small>
    <br>
    <br>

    Yes: @Html.RadioButtonFor(c => c.Archive, "Yes")
    <br>
    No:  @Html.RadioButtonFor(c => c.Archive, "No")
    <br>

    @*Yes:@Html.RadioButton("Archive", "Yes")
        No: @Html.RadioButton("Archive", "No")*@

    @*Yes: <input type="radio" id="archiveYes" name="archiveYes" value="Yes" asp-for="Archive">
        No: <input type="radio" id="archiveNo" name="archiveNo" value="No" asp-for="Archive">*@

    @*<select name="Archive" asp-for="Archive">
            <option value="No">No</option>
            <option value="Yes">Yes</option>
        </select>*@

    <input type="hidden" asp-for="CategoryName">
    <input type="hidden" asp-for="CategoryId">
    <br />
    <input class="btn btn-warning btn-sm" type="submit" value="submit">
    <a class="btn btn-primary btn-sm" asp-area="Admin" asp-controller="Category" asp-action="Index">Back to List</a>
</form>